.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 255, 0.3);
}

.loader .MuiGrid-container {
  height: 100%;
}

.MuiCard-root, .MuiCardActionArea-root {
  height: 100%;
}

h3, h4.MuiTypography-root {
  text-align: center;
  padding: 20px 0;
}

.selected .MuiTouchRipple-root {
  background-color: rgba(0,0,255,0.2);
  transition: background-color ease-in-out 0.2s 0.1s;
}

.main-dialog .MuiDialog-paper {
  position: unset;
}